#crest {
    height: 180px;
    margin: -80px 0 -80px 0;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

#crest.shrink, #crest-small {
    height: 80px;
    margin: -30px 0 -30px 0;
}

/* Allow navbar items to be laid out with flexbox */
.navbar-flex {
    align-items: center;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
}

.page-footer {
    padding: 0.5rem;
}

/* Used with FlexEmbed to create an Image which scales with the page */
.CoverImage {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    margin: 0 auto;
}

/*! suit-flex-embed v1.4.0 | MIT License | github.com/suitcss */
.FlexEmbed {
    display: block;
    overflow: hidden;
    position: relative;
}

.FlexEmbed:before {
    content: "";
    display: block;
}

.FlexEmbed--3by1:before {
    padding-bottom: 33.33333%;
}

.FlexEmbed--2by1:before {
    padding-bottom: 50%;
}

.FlexEmbed--16by9:before {
    padding-bottom: 56.25%;
}

.FlexEmbed--4by3:before {
    padding-bottom: 75%;
}

.lilbil-heading {
    padding-top: 24px;
    padding-bottom: 24px;
}

.lilbil-content {
    padding-bottom: 24px;
}

.lilbil-content p {
    line-height: 1.2;
    margin-bottom: 0.5rem;
}

.text-shadow-dark {
    text-shadow: #1d1c19 2px 2px 2px;
}
